* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.2s ease;
} 

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Mulish', sans-serif;
}
  
.img-container {
    float: left;
    width: 50%;
    height: auto;
    padding: 5px;
}

.img-container.book img {
    max-height: 150px;
    max-width: 150px;
    margin-left: 100px;
    margin-top: 30px;
}

.img-container.dh-center img {
    max-width: 200px;
    max-height: auto;
    margin-top: 70px;
    margin-left: 250px;
    align-items: center;
}  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; 
    overflow: hidden;
    /* фоновый цвет */
    background: white;
    z-index: 1001;
}
  
.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    animation: none;
}
  
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}

.header {
    width: 100%;
    text-align: center;
    margin-top: 85px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 700;
}

.header h2 {
    color: #9a292b;
    font-style: italic;
}

.header img {
    width: 50%;
    height: auto;
    margin-top: 100px;
}

.about {
    width: 100%;
    text-align: center;
    padding: 85px 250px 85px  250px;
}

.about p {
    line-height: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
}

.graph {
    width: 60%;
    align-items: center;
    margin-bottom: 85px;
}

.paragraph {
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 85px;
}

.paragraph p {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}

.authors_container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

.authors_container .author {
    width: 250px;
    height: 250px;
}

.authors_container .author button {
    background-color: transparent;
    border: none;
    /* color: white; */
    height: 100%;
    width: 100%;
    align-items: center;
}

.authors_container .author button img {
    height: 100%;
    width: auto;
    align-items: center;
    cursor: pointer;
}

.authors_container .author .modal_container {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.authors_container .author .modal_container.show {
    pointer-events: auto;
    opacity: 1;
}

.authors_container .author .modal {
    background-color: white;
    padding: 30px 50px;
    border-radius: 5px;
    width: 600px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}

.authors_container .author .modal h2 {
    margin: 0;
    font-weight: 200;
    color: #9a292b;
}

.authors_container .author .modal p {
    opacity: 0.7;
    font-size: 20px;
    font-weight: 200;
    color: black;
    padding-top: 20px;
}

.authors_container .author .modal button {
    color: #9a292b;
}
