* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.2s ease;
} 

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Mulish', sans-serif;
}
  
.img-container {
    float: left;
    width: 50%;
    height: auto;
    padding: 5px;
}

.img-container.book img {
    max-height: 150px;
    max-width: 150px;
    margin-left: 20%;
}

.img-container.dh-center img {
    max-width: 200px;
    max-height: auto;
    margin-top: 36px;
    margin-left: 40%;
    /* margin-left: 300px; */
    align-items: center;
}  

.img-container.dh-center img:hover {
    transform: scale(1.1);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; 
    overflow: hidden;
    /* фоновый цвет */
    background: white;
    z-index: 1001;
}
  
.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    animation: none;
}
  
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}

.header {
    width: 100%;
    text-align: center;
    margin-top: 0.625rem;
    line-height: 3.6rem;
    font-size: 1.25rem;
    /* margin-top: 10px;
    line-height: 60px;
    font-size: 20px; */
    font-weight: 700;
}

.header h3 {
    color: #9a292b;
    font-style: italic;
    font-weight: 300;
}

.header img {
    width: 60%;
    height: auto;
}

.about {
    width: 100%;
    text-align: center;
    padding: 1.25rem 15.625rem 3.125rem 15.625rem;
    /* padding: 20px 250px 50px  250px; */
}

.about p {
    line-height: 1.875rem;
    /* line-height: 30px; */
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
}

.about .tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: #9a292b;
    line-height: 1.875rem;
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
}

.about .tooltip .tooltip-text {
    visibility: hidden;
    width: fit-content;
    background-color: white;
    font-size: 1rem;
    color: #9a292b;
    text-align: center;
    white-space: nowrap;
    /* padding: 5px 0; */
    /* border-radius: 6px; */
    border-radius: 0.375rem;
    margin-left: 1rem;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: -35%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.about .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.graph-name {
    padding-left: 12.5rem;
    padding-right: 12.5rem;
    /* padding-left: 200px;
    padding-right: 200px; */
    width: 100%;
    margin-bottom: 0.625rem;
}

.graph-name h3 {
    color: #9a292b;
    font-weight: bold;
    font-size: 1.3rem;
}

.graph {
    width: 60%;
    align-items: center;
    margin-bottom: 3.125rem;
    /* margin-bottom: 50px; */
}

.paragraph {
    width: 100%;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
    margin-bottom: 3.125rem;
    /* padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px; */
}

.paragraph p {
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.875rem;
    padding-top: 0.938rem;
    /* font-size: 17px;
    line-height: 30px;
    padding-top: 15px; */
}

.paragraph ol li {
    list-style-type: none;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.875rem;
    padding-top: 0.625rem;
    /* font-size: 17px;
    line-height: 30px;
    padding-top: 10px; */
}

.paragraph ol li i {
    margin-right: 0.313rem;
    /* margin-right: 5px; */
    color: #9a292b;
}

.paragraph ul li {
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.875rem;
    padding-top: 0.625rem;
    /* font-size: 17px;
    line-height: 30px;
    padding-top: 10px; */
}

.paragraph ul li i {
    margin-right: 0.313rem;
    /* margin-right: 5px; */
}

.paragraph .tooltip-p {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #9a292b;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.875rem;
    /* font-size: 17px;
    line-height: 30px; */
}

.paragraph .tooltip-p .tooltip-p-text {
    display: inline-block;
    visibility: hidden;
    width: fit-content;
    white-space: nowrap;
    background-color: white;
    color: #9a292b;
    text-align: justify;
    border: dotted 0.063rem #9a292b;
    padding: 0.313rem 0.313rem;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 10%;
    margin-left: -0.625rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.563rem;
}

.paragraph .tooltip-p:hover .tooltip-p-text {
    visibility: visible;
}

.authors_container {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3.125rem;
}

.authors_container .author {
    width: 250px;
    height: 250px;
}

.authors_container .author button {
    background-color: transparent;
    border: none;
    /* color: white; */
    height: 100%;
    width: 100%;
    align-items: center;
}

.authors_container .author button img {
    height: 100%;
    width: auto;
    align-items: center;
    cursor: pointer;
}

.authors_container .author button img:hover {
    transform: scale(1.1);
}

.authors_container .author .modal_container {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.authors_container .author .modal_container .modal .close_button p {
    color: #9a292b;
}

.authors_container .author .modal_container.show {
    pointer-events: auto;
    opacity: 1;
}

.authors_container .author .modal {
    background-color: white;
    padding: 1.875rem 3.125rem;
    border-radius: 0.313rem;
    /* padding: 30px 50px; */
    /* border-radius: 5px; */
    width: 600px;
    max-width: 100%;
    box-shadow: 0 0.125rem 0.25px rgba(0,0,0,0.2);
    text-align: center;
}

.authors_container .author .modal h2 {
    margin: 0;
    font-weight: 200;
    color: #9a292b;
}

.authors_container .author .modal p {
    opacity: 0.7;
    font-size: 1.25rem;
    font-weight: 200;
    color: black;
    padding-top: 1.25rem;
}

.authors_container .author .modal img {
    margin-top: 1.875rem;
    width: 40%;
    height: auto;
    border-radius: 30%;
}

.authors_container .break {
    flex-basis: 100%;
    height: 0;
}

.authors {
    padding-left: 12.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* padding-left: 200px;
    margin-top: 100px;
    margin-bottom: 80px; */
}

.authors .member {
    line-height: 1.875rem;
    display: inline-flex;
}

.authors .member .role h6 {
    font-size: 0.938rem;
    color: #9a292b;
    font-weight: normal;
}

.authors .member .role h5 {
    font-size: 1.25rem;
    font-weight: normal;
}

.authors .member .social {
    float: inline-end;
    margin-left: 1.875rem;
}

.authors .member .social img {
    width: 30px;
    height: auto;
    margin: 1.25rem;
    padding-top: 1.25rem;
}

.conclusion {
    width: 100%;
    text-align: center;
    padding: 1.5rem 17rem 0.3rem 17rem;
    /* padding: 2rem 15.625rem 1rem 15.625rem; */
}

.conclusion p {
    line-height: 1.875rem;
    /* line-height: 30px; */
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
}
